:root{
	-main-dark-color:#009e0d;
}
.gradient-background{
	/*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #2ad138, #a6e3ab);*/
	/*-fx-background: linear-gradient(to left, #2ad138 25%, #a6e3ab);*/
	-fx-background-color: radial-gradient(center 50% 50% , radius 200% , #a6e3ab, #009e0d);
}

.line-color{
	-fx-background-color: #a6e3ab;
}

.line-color-container{
	-fx-background-color: #009e0d;
}

.input-container{
	-fx-background-color: #a6e3ab;
	-fx-background-radius:10;
	-fx-border-color:#009e0d;
	-fx-border-width:3;
	-fx-border-radius:10;
	
}